p {
	font-family: Helvetica;
	color: black;
}

a {
	text-decoration: none;
	font-family: Helvetica;
	color: black;
}

#title {
	font-weight: bold;
	font-size: 75px;
	text-align: center;
}

#desc1 {
	font-size: 50px;
	text-align: center;
	margin-top: -100px;
}

#desc2 {
	font-size: 10px;
	text-align: center;
	margin-top: -60px;
}

#link {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin-top: 200px;
}

#twitter {
	font-weight: none;
	font-size: 25px;
	color: #00aced; 
}

#twitterdiv {
	text-align: center;
	margin-top: -45px;
}

#youtube {
	font-weight: none;
	font-size: 25px;
	color: #e52d27;
}

#youtubediv {
	text-align: center;
}

#steam {
	font-weight: none;
	font-size: 25px;
	color: #231f20
}

#steamdiv {
	text-align: center;
}

#spotify {
	font-weight: none;
	font-size: 25px;
	color: #1ED760
}

#spotifydiv {
	text-align: center;
}

#more {
	text-align: center;
}

#morediv {
	position: fixed;
    bottom: 0;
    width: 100%;
}

a:hover {
	font-weight: bold;
}

html {
	background-color: #ffffff;
}