html,body {
    background: url(files/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
    -o-background-size: cover;      
    background-size: cover; 
	background-color: black;
}

h1 {
	font-family: "Arial";
	color: white;
	text-align: center;
	font-size: 100px;
	font-weight: 100;
	margin-top: 250px;
}

hr {
	margin: center;
	width: 10%;
	color: #cccccc;
}

#links {
	font-family: "Arial";
	font-size: 75px;
	color: #cccccc;
	text-align: center;
	text-decoration: none;
}

#links2 {
	font-family: "Arial";
	font-size: 50px;
	color: #cccccc;
	text-align: center;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #cccccc;
}

a:link, a:visited {
color: white;
-webkit-transition: color .25s linear .1s;
transition: color .25s linear .1s;
}

a:hover {
color: #cccccc;
-webkit-transition: color .25s linear, background-color .15s linear .1s;
transition: color .25s linear, background-color .15s linear .1s;
}