p {
	font-family: Helvetica;
	color: black;
}

a {
	text-decoration: none;
	font-family: Helvetica;
	color: black;
}

#title {
	font-weight: bold;
	font-size: 75px;
	text-align: center;
}

#desc1 {
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
}

#linksdiv {
	margin: auto;
}

#links {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

#twitter {
	font-size: 25px;
	color: #00aced; 
}

#twitterdiv {
	text-align: center;
	margin-top: -45px;
}

#twitter2 {
	font-size: 25px;
	color: #00aced;
}

#twitter2div {
	text-align: center;
}

#youtube {
	font-size: 25px;
	color: #e52d27;
}

#youtubediv {
	text-align: center;
}

#twitch {
	font-size: 25px;
	color: #6441A5;
}

#twitchdiv {
	text-align: center;
}

#steam {
	font-size: 25px;
	color: #231f20
}

#steamdiv {
	text-align: center;
}

#spotify {
	font-size: 25px;
	color: #1ED760
}

#spotifydiv {
	text-align: center;
}

#github {
	font-size: 25px;
	color: #171515;
}

#githubdiv {
	text-align: center;
}

#links2div {
	margin: auto;
}

#links2 {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin-top: 0px;
}

#csgohacksdiv {
	text-align: center;
	margin-top: -45px;
}

#csgohacks {
	font-size: 25px;
	color: #f7a238;
}

#lafddiv {
	text-align: center;
}

#lafd {
	font-size: 25px;
	color: purple;
}

#artdiv {
	text-align: center;
}

#art {
	font-size: 25px;
	color: 363636;
}

#more {
	text-align: center;
}

#morediv {
	position: fixed;
    bottom: 0;
    width: 100%;
}

a:hover {
	font-weight: bold;
}

html {
	background-color: #ffffff;
}